head
  meta(http-equiv="Content-Type" content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  //- http://realfavicongenerator.net/faq#why_ico_not_declared
  block head
  title= ((pageTitle || '') + appName)
  meta(name='description' content=appDescription || '')
  meta(name='keywords' content=appKeywords || '')
  link(type='text/css'  href='css/alls.css' rel='stylesheet')
  //- link(rel='shortcut icon', href='/img/favicon.ico')
  //- link(rel='icon', type='image/gif', href='/img/animated_favicon1.gif')
