include __mixins
include __mixins-bs
include __mixins-util

doctype html
html(lang="ru-RU" class="no-js aui")
  include ../parts/head_light.jade
  body(class="page_#{pageName}")
    //BEGIN HEADER
    block header
      include ../parts/_header.jade
    #wrapper
      // BEGIN gui-controls
      block menubar
        include ../parts/_menubar.jade
      block content
        // BEGIN CONTENT
        #content
          section
            .section-header
              ol.breadcrumb
                li
                  a(href='/') Рабочий стол
                li= pageTitle
            .section-body.contain-lg

          include ../parts/_content.jade
      block footer
        include ../parts/_footer.jade
    //END wrapper
  +scripts(['js/vendors.js'])
  +scripts(['js/mocha.js'])
