include __mixins
include __mixins-bs
include __mixins-util

//- http://darrenschnare.com/blog/2013/08/14/sharing-variables-with-jade-templates/
//- http://stackoverflow.com/a/24165467

block page
  .modal-dialog(class=modalClass)
    .modal-content
      block header
        .modal-header(class=zayavkaClass)
          button.btn.btn-icon-toggle.btn-close.ink-reaction(type='button', data-dismiss='modal', aria-hidden='true')
            i.md.md-close
          header=modalHead
      block body
      block footer
        .modal-footer
          button.btn.btn-primary(type='button', data-dismiss='modal', aria-hidden='true') Закрыть
