extends ../modules/layouts/_gl.jade

block head
  - var pageTitle = 'Статистика';
  - var pageUrl = pageName + '.html';
body
  block page
    #wrapper.container-fluid
      .container
        header
          #heading
            h1.site-title.pull-left
              a.logo.custom-logo(href='#')
                img(alt='', width='155', height='50', src='imgs/logo2x.png')
                span.site-name Информационный портал "ЭРА-ГЛОНАСС"
            h2.page-title
              span Главная
            .logreg.pull-right
              a.btn.btn-default.btn-lg Вход в систему
      include ../modules/parts/_menubar
      // Page Content
      .container
        h2= pageTitle
        // News
        section.stat
          // /.row
          .row
            .col-md-4
              .panel
                .panel-body
                  p
                    | АО "ГЛОНАСС" готово обеспечить контроль качества перевозок скоропортящихся продуктов, в том числе при международных перевозках.
                  a.btn(href='#') Читать дальше
            .col-md-4
              .panel
                .panel-body
                  p
                    | АО "ГЛОНАСС" готово обеспечить контроль качества перевозок скоропортящихся продуктов, в том числе при международных перевозках.
                  a.btn(href='#') Читать дальше
            .col-md-4
              .panel
                .panel-body
                  p
                    | Испытания прошли в Кемерове с 1 по 9 октября, а с 10 октября введен в опытную эксплуатацию сегмент системы 112 на территории
                  a.btn(href='#') Читать дальше
            .col-md-4
              .panel
                .panel-body
                  p
                    | АО "ГЛОНАСС" готово обеспечить контроль качества перевозок скоропортящихся продуктов, в том числе при международных перевозках.
                  a.btn(href='#') Читать дальше
            .col-md-4
              .panel
                .panel-body
                  p
                    | АО "ГЛОНАСС" готово обеспечить контроль качества перевозок скоропортящихся продуктов, в том числе при международных перевозках.
                  a.btn(href='#') Читать дальше
            .col-md-4
              .panel
                .panel-body
                  p
                    | Испытания прошли в Кемерове с 1 по 9 октября, а с 10 октября введен в опытную эксплуатацию сегмент системы 112 на территории
                  a.btn(href='#') Читать дальше
            .col-md-4
              .panel
                .panel-body
                  p
                    | АО "ГЛОНАСС" готово обеспечить контроль качества перевозок скоропортящихся продуктов, в том числе при международных перевозках.
                  a.btn(href='#') Читать дальше
            .col-md-4
              .panel
                .panel-body
                  p
                    | АО "ГЛОНАСС" готово обеспечить контроль качества перевозок скоропортящихся продуктов, в том числе при международных перевозках.
                  a.btn(href='#') Читать дальше
            .col-md-4
              .panel
                .panel-body
                  p
                    | Испытания прошли в Кемерове с 1 по 9 октября, а с 10 октября введен в опытную эксплуатацию сегмент системы 112 на территории
                  a.btn(href='#') Читать дальше
          // /.row
        hr
        // Footer
        footer
          .row
            .col-lg-12
              p Copyright © Эра Глонасс 2016
      // /.container
